body {
  /*background: url("/assets/pattern1.png");*/
  transition: 0.75s ease;
  background-color: rgb(15, 178, 213);
  background-size: cover;
  z-index: 10;
  font-family: Rosario, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden;
  /*background-image: url("../assets/background1.jpg");*/
}

#arrowkeys{
  width: 200px;
  position: fixed;
  margin-top: 195px;
  margin-left: 100px;
  z-index: 100;
}

.blink_me {
  animation: blinker 1s linear 4;

}

@keyframes blinker {  

  50% { opacity: 0.0; }

}

.hiding {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}


#grabCode a{
  border: 1px solid white;
  bottom: 0px;
  position: fixed;
  left: 0px;
  color: white;
  font-size: 10px;
  text-decoration: none;
}
/*
#container {
  min-width: 600px;
}*/

/*#container {
  position: absolute;
  margin: auto;
}*/

h1 {
  color: rgb(226, 249, 255);
  text-align: center;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(226, 249, 255, 0.3);
  font-family: Quicksand, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}

#about_me {
  position: absolute;
  width: 200px;
  margin-top: 70px;
  text-align: right;
  font-family: Quicksand, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  /*border: 1px solid red;*/
}

#about_me p {
  margin-top: 1px;
  font-size: 24px;
  color: rgb(226, 249, 255);
  width: 130px;
  margin-left: 30%;
}

#about_me p:hover, #contact p:hover, #projects p:hover, #resume a:hover, #greeting h1:hover, #grabCode a:hover{
  color: rgba(29, 154, 179, 1);
  cursor: hand;
  cursor: pointer;
  font-weight: 900;
}

#projects {
  position: absolute;
  margin-top: 200px;
  margin-left: 210px;
  width: 192px;
  text-align: left;
  font-family: Quicksand, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
 /* border: 1px solid red;*/
}

#projects p {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 24px;
  color: rgb(226, 249, 255);
  width: 120px;
}

#resume {
  position: absolute;
  margin-top: 330px;
  text-align: right;
  width: 200px;
  font-family: Quicksand, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;

/*  border: 1px solid red;*/
}

#resume a {
  margin: none;
  margin-top: 1px;
  margin-right: 10px;
  font-size: 24px;
  color: rgb(226, 249, 255);
  width: 120px;
  margin-left: 35%;
  text-decoration: none;
  line-height: 135%;
}

#contact {
  position: absolute;
  margin-left: 210px;
  margin-top: 450px;
  text-align: left;
  /*border: 1px solid red;*/
  width: 190px;
  font-family: Quicksand, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
}

#contact p {
  margin-top: 1px;
  margin-left: 10px;
  font-size: 24px;
  color: rgb(226, 249, 255);
  width: 100px;
}



.div_style {
  position: absolute;
 /* border: 2px solid red;*/
  height: 40px;
  background-color: rgba(15, 178, 213, 0);
}

canvas {
  /*margin-top: -470px;*/
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  background-color: rgba(226, 249, 255, 0.2);
 
 
}

#game {
  width: 400px;
  margin-left: auto;
  margin-right: auto;

}

.bubble {
  position: absolute;
  border: 10px solid rgb(15, 178, 213);
  width: 2em;
  height: 2em;
  border-radius: 100%;
}


/*Lightbox CSS*/


/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/*
Contact and About me CSS*/

/* Styles for dialog window */
#about-me, #hi {
  background-color: rgb(226, 249, 255);
  padding: 20px 30px;
  border-radius: 20px;
  text-align: center;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  color: rgb(15, 178, 213);
  font-size: 18px;
  font-weight: bold;
}

#contact-me {
  background-color: rgb(226, 249, 255);
  border-radius: 20px;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  text-align: center;
  color: rgb(15, 178, 213);
  font-size: 18px;
  font-weight: bold;
}

#contact-me a{
  text-decoration: none;
  color: rgb(15, 178, 213);
}

#contact-me a:hover {
  color: rgb(29, 154, 179);
}

#projects2 {
  background-color: rgb(226, 249, 255);
  border-radius: 20px;
  padding: 20px 30px;
  text-align: left;
  max-width: 400px;
  margin: 40px auto;
  position: relative;
  font-size: 18px;
  font-weight: bold;
}

.titles {
  color: rgb(226, 249, 255);
  background-color: rgb(15, 178, 213);
}

/*.img-circle{
  border-radius: 50%;
}*/

.social {
  padding: 10px; 
}

.socialhover:hover {
  color: rgb(29, 154, 179);
  border-radius: 4px;
}

i {
  color: rgb(15, 178, 213);
}

.projectimg {
  width: 175px;
  height: 100px;
  padding: 11px;
}

.projectimg:hover{
  background-color: rgb(15, 178, 213);
  border-radius: 5px;
}

.projectAlign {
  display: inline-block;
}

.description {
  display: block;
  width: 197px;
  text-align: center;
  color: rgb(15, 178, 213);
  font-size: 18px;
  font-weight: bold;

}

.small {
  font-size: 12px;
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;

  -webkit-transition: all 0.2s ease-in-out; 
  -moz-transition: all 0.2s ease-in-out; 
  -o-transition: all 0.2s ease-in-out; 
  transition: all 0.2s ease-in-out; 



  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;

  -webkit-transform: scale(1); 
  -moz-transform: scale(1); 
  -ms-transform: scale(1); 
  -o-transform: scale(1); 
  transform: scale(1); 
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 

  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out; 
  -moz-transition: opacity 0.3s ease-out; 
  -o-transition: opacity 0.3s ease-out; 
  transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}



/*CLOUDS*/

#clouds {
  padding: 100px 0;
  padding-left: 300px;
  padding-right: 300px;
 /* background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);*/
}

/*Time to finalise the cloud shape*/
.cloud {
    transition: 0.75s ease;
  width: 200px; height: 60px;
  background: #fff;
  
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  
  position: relative; 
}

.cloud:before, .cloud:after {
    transition: 0.75s ease;
  content: '';
  position: absolute; 
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  transition: 0.75s ease;
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.shark2{
  position: absolute;
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
  z-index: -99;
  margin-top: 100px;
  padding-left: 300px;
  bottom: -100px;

}

.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
  z-index: -50;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/
  
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
  z-index: -50;
}

.x3 {
  left: 84px; top: -200px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
  z-index: -50;
}

.x4 {
  left: 470px; top: -250px;
  
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
  z-index: -50;
}

.x5 {
  left: 80px; top: -150px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
  z-index: -50;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}




/*centre positioning*/
#outerDiv {
  display: table;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
/*
#middleDiv {
  display: table-cell; 
  vertical-align: middle;
}*/

#innerDiv {
  margin-left: auto; 
  margin-right: auto; 
  width: 80%;
  height: 60%;
}















/*-----------------
    Waves
-----------------*/

.wave2{
  transition: 0.75s ease;
  z-index:-100;
  background:#1D9AB3;
  height:200px;
  position:absolute;
  width:250%;
  bottom:0;
  left:-20%;
  z-index: -115;
  
  -ms-animation: middle 2s infinite alternate;
  -moz-animation: middle 2s infinite alternate;
  -webkit-animation: middle 2s infinite alternate;
  -o-animation: middle 2s infinite alternate;
  animation: middle 2s infinite alternate;
}
.wave2:after{
  transition: 0.75s ease;
  content:'';
  width:200px;
  height:100px;
  background:rgb(15, 178, 213);
  position:absolute;
  border-radius:50%;
  top:-50px;
  left:-50px;
  box-shadow:
    200px 0 0 0 rgb(15, 178, 213), 400px 0 0 0 rgb(15, 178, 213), 600px 0 0 0 rgb(15, 178, 213), 800px 0 0 0 rgb(15, 178, 213), 1000px 0 0 0 rgb(15, 178, 213), 1200px 0 0 0 rgb(15, 178, 213), 1400px 0 0 0 rgb(15, 178, 213), 1600px 0 0 0 rgb(15, 178, 213), 1800px 0 0 0 rgb(15, 178, 213);
  z-index:-115;
}

.wave3{
  background:#4aaec2;
  height:100px;
  width:250%;
  bottom:0;
  left:-20%;
  position:absolute;
  z-index:-100;
  
  -ms-animation: first 1.5s infinite alternate;
  -moz-animation: first 1.5s infinite alternate;
  -webkit-animation: first 1.5s infinite alternate;
  -o-animation: first 1.5s infinite alternate;
  animation: first 1.5s infinite alternate;
}
.wave3:after{
  transition: 0.75s ease;
  content:'';
  width:150px;
  height:100px;
  background:rgba(29, 154, 179, 0);
  position:absolute;
  border-radius:50%;
  top:-50px;
  left:-70px;
  box-shadow:
    150px 0 0 0 rgba(29, 154, 179, 1),
    300px 0 0 0 rgba(29, 154, 179, 1),
    450px 0 0 0 rgba(29, 154, 179, 1),
    600px 0 0 0 rgba(29, 154, 179, 1),
    750px 0 0 0 rgba(29, 154, 179, 1),
    900px 0 0 0 rgba(29, 154, 179, 1),
    1050px 0 0 0 rgba(29, 154, 179, 1),
    1200px 0 0 0 rgba(29, 154, 179, 1),
    1350px 0 0 0 rgba(29, 154, 179, 1),
    1500px 0 0 0 rgba(29, 154, 179, 1),
    1650px 0 0 0 rgba(29, 154, 179, 1),
    1800px 0 0 0 rgba(29, 154, 179, 1),
    1950px 0 0 0 rgba(29, 154, 179, 1)
    ;
  z-index:-100;
}




.darkCloud, .darkCloud:before, .darkCloud:after {
  background: #666666;
}
.dbody{
  background-color: black;
}
.dwave2{
  background-color: #08292f;
}
.dwave2:after {
  box-shadow:
    200px 0 0 0 rgb(0, 0, 0), 400px 0 0 0 rgb(0, 0, 0), 600px 0 0 0 rgb(0, 0, 0), 800px 0 0 0 rgb(0, 0, 0), 1000px 0 0 0 rgb(0, 0, 0), 1200px 0 0 0 rgb(0, 0, 0), 1400px 0 0 0 rgb(0, 0, 0), 1600px 0 0 0 rgb(0, 0, 0), 1800px 0 0 0 rgb(0, 0, 0);
}
.dwave3{
  background-color: rgb(5, 59, 70);
}
.dwave3:after {
  box-shadow:
    150px 0 0 0 rgba(8, 41, 47, 1),
    300px 0 0 0 rgba(8, 41, 47, 1),
    450px 0 0 0 rgba(8, 41, 47, 1),
    600px 0 0 0 rgba(8, 41, 47, 1),
    750px 0 0 0 rgba(8, 41, 47, 1),
    900px 0 0 0 rgba(8, 41, 47, 1),
    1050px 0 0 0 rgba(8, 41, 47, 1),
    1200px 0 0 0 rgba(8, 41, 47, 1),
    1350px 0 0 0 rgba(8, 41, 47, 1),
    1500px 0 0 0 rgba(8, 41, 47, 1),
    1650px 0 0 0 rgba(8, 41, 47, 1),
    1800px 0 0 0 rgba(8, 41, 47, 1),
    1950px 0 0 0 rgba(8, 41, 47, 1)
    ;
}

.star {
  background-color: rgba(0,0,0,0);
  position: fixed;
  z-index: -300;
  color: white;
  transition: .5s ease;
}
.hidden {
  color: rgba(0,0,0,0);
}










/*-----------------
    Paralax
-----------------*/

@-ms-keyframes background      { 0% { -ms-transform: translatex(-10px); } 100% { -ms-transform: translatex(10px); } }
@-moz-keyframes background     { 0% { -moz-transform: translatex(-10px); } 100% { -moz-transform: translatex(10px); } }
@-webkit-keyframes background  { 0% { -webkit-transform: translatex(-10px); } 100% { -webkit-transform: translatex(10px); } }
@-o-keyframes background       { 0% { -o-transform: translatex(-10px); } 100% { -o-transform: translatex(10px); } }
@keyframes background        { 0% { transform: translatex(-10px); } 100% { transform: translatex(10px); } }

@-ms-keyframes middle     { 0% { -ms-transform: translatex(15px); } 100% { -ms-transform: translatex(-15px); } }
@-moz-keyframes middle    { 0% { -moz-transform: translatex(15px); } 100% { -moz-transform: translatex(-15px); } }
@-webkit-keyframes middle { 0% { -webkit-transform: translatex(15px); } 100% { -webkit-transform: translatex(-15px); } }
@-o-keyframes middle      { 0% { -o-transform: translatex(15px); } 100% { -o-transform: translatex(-15px); } }
@keyframes middle        { 0% { transform: translatex(15px); } 100% { transform: translatex(-15px); } }

@-ms-keyframes first     { 0% { -ms-transform: translatex(-10px); } 100% { -ms-transform: translatex(10px); } }
@-moz-keyframes first    { 0% { -moz-transform: translatex(-10px); } 100% { -moz-transform: translatex10px); } }
@-webkit-keyframes first { 0% { -webkit-transform: translatex(-10px); } 100% { -webkit-transform: translatex(10px; } }
@-o-keyframes first      { 0% { -o-transform: translatex(-10px); } 100% { -o-transform: translatex(10px); } }
@keyframes first         { 0% { transform: translatex(-10px; } 100% { transform: translatex(10px); } }