body {
  background-color: black;
  z-index: 10;
  font-family: Orbitron, 'Courier Bold', Courier, Georgia, Times, 'Times New Roman', serif;
  /*background-image: url("../assets/background1.jpg");*/
}
/*
#container {
  min-width: 600px;
}*/

h1 {
  color: red;
  text-align: center;
}

#about_me{
  position: absolute;
  width: 200px;
  margin-top: 70px;
  text-align: right;
  /*border: 1px solid red;*/
}

#about_me p {
  margin-top: 10px;
  font-size: 24px;
  color: red;
  width: 130px;
  margin-left: 33%;
}

#about_me p:hover {
  color: blue;
  cursor: hand;
  cursor: pointer;
}

#projects {
  position: absolute;
  margin-top: 200px;
  margin-left: 210px;
  width: 190px;
  text-align: left;
 /* border: 1px solid red;*/
}

#projects p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 24px;
  color: red;
  width: 120px;
}

#projects p:hover {
  color: blue;
  cursor: hand;
  cursor: pointer;
}

#resume {
  position: absolute;
  margin-top: 330px;
  text-align: right;
  width: 200px;
/*  border: 1px solid red;*/
}

#resume p {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 24px;
  color: red;
  width: 120px;
  margin-left: 35%;
}

#resume p:hover {
  color: blue;
  cursor: hand;
  cursor: pointer;
}

#contact {
  position: absolute;
  margin-left: 210px;
  margin-top: 450px;
  text-align: left;
  /*border: 1px solid red;*/
  width: 190px;
}

#contact p {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 24px;
  color: red;
  width: 100px;
}

#contact p:hover {
  color: blue;
  cursor: hand;
  cursor: pointer;
}


.div_style {
  position: absolute;
 /* border: 2px solid red;*/
  height: 40px;
  background-color: black;
}

canvas {
  /*margin-top: -470px;*/
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
 
}

#game {
  width: 400px;
  margin-left: auto;
  margin-right: auto;

}

.bubble {
  position: absolute;
  border: 1px solid lime;
  width: 2em;
  height: 2em;
  border-radius: 100%;
}